@mixin transition-event($props:all, $duration:0.15s, $timing:linear) {
	@include transition-property($props);
	@include transition-duration($duration);
	@include transition-timing-function($timing);
}

@mixin background-options($repeat, $position, $size) {
  background:{
    repeat:$repeat;
    position:$position;
  }
  @include background-size($size);
}
// keyframes

@include keyframes(shrink-bounce) {
  0% {
      @include transform (scale(1));
  }
  33% {
      @include transform (scale(.85));
  }
  100% {
     @include transform (scale(1));
  }
}

@include keyframes(checkbox-check) {
  0% {
      width: 0;
      height: 0;
      border-color: $white;
      transform: translate3d(0, 0, 0) rotate(45deg);
  }
   33% {
       width: 8px;
       height: 0;
       transform: translate3d(0, 0, 0) rotate(45deg);
  }
  100% {
      width: 8px;
      height: 12px;
      border-color: $white;
      transform: translate3d(0, -12px, 0) rotate(45deg);
  }
}

@mixin width-height($width, $height){
	width:$width;
	height:$height;
}

@mixin bg-positions($repeat:no-repat, $align:left top, $size:cover) {
  background-repeat:$repeat;
  background-position:$align;
  @include background-size($size);
}